*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Karla", sans-serif;
}
html{
    min-height: 100%;
}
body{
    height: 100vh;
}
.nav{
    padding: 25px;
    display: flex;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: #fff;
    letter-spacing: 1px;
}
.nav--desc{
    margin-left: auto;
}
.nav--title{
    margin-right: 0;
}
main{
    padding: 35px;
}
.form{
    display: grid;
    grid-template: 25px 25px / 1fr 1fr;
    gap: 20px;
}
.form--input{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 15px;
    width: auto;
    font-size: large;
    height: 35px;
}
.form--btn{
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: large;
    height: 40px;
    top: 151px;
}
.form--btn:hover{
    background: linear-gradient(90.41deg, #541769 1.14%, #8c14b5 100%);
}
.meme--img-div {
    position: relative;
    text-align: center;
    margin-top: 50px;
}
.meme--img {
    max-width: 70%;
    border-radius: 3px;
}
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}
.top {
    top: 0;
}

@media (max-width: 470px) {
    main{
        padding: 15px;
    }
    .form{
        grid-template: 25px 25px / 1fr ;
    }
}